body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Agdasima';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 100%;
    background: black;
}

.search-section {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-weight: 700;
    cursor: pointer;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h3 {
    font-weight: 700;
    font-size: 36px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pikachu-logo {
    height: 300px;
    margin-top: -30px;
}

.pikachu {
    height: 200px;
}

input[type=text] {
    font-family: 'Agdasima';
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #eb9f24;
    background-color: #000000;
    background-image: url(./img/search-icon.svg);
    background-size: 25px 25px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-right: 3%;
    color: #eb9f24;
    font-size: 24px;
    width: 20%;
}

input[type=text]:focus {
    background-image: none;
}

#noPokemonsMessage {
    font-family: 'Agdasima';
    margin-top: 50px;
    font-size: 28px;
    color: #eb9f24;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
    background-color: black;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin-top: 50px;
}

.pokemon-card {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 0 0 5px 3px;
}

.pokemon-card img {
    height: 250px;
    filter: drop-shadow(3px 3px 3px #222);
}

.pokemon-card span {
    font-family: 'Agdasima';
    font-weight: 700;
    font-size: 32px;
}

.pokemon-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pokemon-type {
    margin-top: 5px;
    padding: 5px;
}

.name-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.types-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Agdasima';
    font-weight: 700;
}

.types-container img {
    width: 40px;
    height: 40px;
}

.load-btn {
    background-color: rgb(0, 0, 0);
    color: #eb9f24;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Agdasima';
    font-weight: 700;
    font-size: 26px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.load-btn:hover {
    transform: scale(1.1);
}

.pokemon-logo-btn {
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #222);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    border-radius: 10px;
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.99);
    text-align: center;
    cursor: pointer;
}

.overlay-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: -40px;
}

.pokemon-details {
    padding-top: 20px;
}

.pokemon-details div {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none !important;
}

.opacity-none {
    opacity: 0;
    pointer-events: none;
}

.overlay-container img {
    filter: drop-shadow(3px 3px 3px #222);
}

.stop-scroll {
    overflow: hidden;
}

.card-above {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 308px;
}

.pokemon-stats {
    margin: 20px;
}

.stat {
    margin-bottom: 10px;
    font-family: 'Agdasima';
    font-weight: 700;
    font-size: 24px;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
}

.progress {
    background-color: #eb9f24;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.left-right-logo {
    height: 70px !important;
    cursor: pointer;
    padding: 5px;
}

.left-right-logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.left-right-logo-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner img {
    width: 100px;
    height: auto;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner-logo {
    margin: 20px;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner span {
    font-family: 'Agdasima';
    font-weight: 700;
    font-size: 24px;
}

@media (max-width:876px) {

    .pikachu-logo {
        height: 200px;
    }

    .pikachu {
        display: none;
    }

    header {
        flex-direction: column-reverse;
    }

    .search-section {
        justify-content: center;
    }

    input[type=text] {
        width: 50%;
        margin-right: 0%;
    }

    .content-wrapper {
        margin-top: 0px;
    }
}

@media (max-width:612px) {
    .pokemon-card {
        width: 85%;
    }
}

@media (max-width:545px) {

    .overlay-container {
        width: 90%;
    }
}

@media (max-width: 407px) {
    .pikachu-logo {
      height: 150px;
    }

    .stat {
        width: 250px;
    }
}