body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

h1 {
    font-weight: 400;
    cursor: pointer;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 10px;
}

h3 {
    font-weight: 400;
    font-size: 18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.logo-section {
    display: flex;
    align-items: center;
}

.pokemon-logo {
    height: 40px;
    padding-right: 20px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #222);
}

input[type=text] {
    font-family: 'Open Sans';
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
    outline: none;
    padding: 5px;
    background-color: #fafafa;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;  
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-card {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.pokemon-card img {
    height: 150px;
    filter: drop-shadow(3px 3px 3px #222);
}

.pokemon-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.pokemon-type {
    margin-top: 5px;
    padding: 5px;
}

.pokemon-name {
    border-radius: 4px;
    padding: 4px;
    font-size: 24px;
    filter: drop-shadow(6px 6px 6px #222);
}

.types-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    filter: drop-shadow(6px 6px 6px #222);
}

.load-btn {
    background-color: white;
    color: black;
    border: 2px solid #fffefe;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-size: 18px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.load-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.pokemon-logo-btn {
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px #222);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    border-radius: 10px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.99);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.overlay-container img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: -40px;
}

.pokemon-details {
    font-family: 'Open Sans';
    border-radius: 10px;
    padding-top: 40px;
    width: 100%;
}

.d-none {
    display: none !important;
}

.left-right-logo {
    height: 20px !important;
    cursor: pointer;
    padding: 5px;
}

.left-right-logo:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.left-right-logo-container {
    display: flex;
    justify-content: space-between;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner img {
    width: 100px;
    height: auto;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner-logo {
    margin: 20px;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-container img {
    filter: drop-shadow(3px 3px 3px #222);
}

.stop-scroll {
    overflow: hidden;
}

.card-above {
    border-radius: 10px;
}

