.fire{
    background-image: linear-gradient(180deg, rgb(211, 118, 4), rgb(247, 206, 2)); 
}
.water{
    background-image: linear-gradient(180deg, rgb(7, 4, 211), rgb(2, 112, 247)); 
}

.grass{
    background-image: linear-gradient(180deg, rgb(0, 113, 36), rgb(41, 166, 68)); 
}

.electric {
    background-image: linear-gradient(180deg, #f9de6f, #f2a900);
}

.ice {
    background-image: linear-gradient(180deg, #98D8D8, #58A0A0);
}

.fighting {
    background-image: linear-gradient(180deg, #daa67b, #a0522d);
}

.poison{
    background-image: linear-gradient(180deg, rgb(150, 27, 48), rgb(165, 50, 90)); 
}

.ground{
    background-image: linear-gradient(180deg, rgb(143, 85, 15), rgb(139, 109, 68)); 
}

.flying {
    background-image: linear-gradient(180deg, #c7b7f5, #5a4c8a);
}

.electric{
    background-image: linear-gradient(180deg, rgb(212, 170, 2), rgb(247, 235, 2)); 
}

.bug{
    background-image: linear-gradient(180deg, rgb(81, 95, 55), rgb(95, 187, 115)); 
}

.rock {
    background-image: linear-gradient(180deg, #aba06e, #8a7f58);
}

.ghost {
    background-image: linear-gradient(180deg, #867d96, #4b3f52);
}

.dragon {
    background-image: linear-gradient(180deg, #7038F8, #4a1e88);
}

.dark {
    background-image: linear-gradient(180deg, #705848, #403030);
}

.fairy{
    background-image: linear-gradient(180deg, rgb(178, 9, 196), rgb(247, 2, 239)); 
}

.normal{
    background-image: linear-gradient(180deg, rgb(92, 61, 24), rgb(134, 108, 59)); 
}

.steel {
    background-image: linear-gradient(180deg, #B8B8D0, #a1a1ba);
}